services:
  netbox:
    build:
      context: .
      dockerfile: Dockerfile
    image: netbox-custom:4.4
    depends_on:
      - postgres
      - redis
      - redis-cache
    env_file: env/netbox.env
    user: 'unit:root'
    healthcheck:
      start_period: 90s
      timeout: 3s
      interval: 15s
      test: "curl -f http://localhost:8080/api/ || exit 1"
    volumes:
      - ./configuration:/etc/netbox/config:z,ro
      - netbox-media-files:/opt/netbox/netbox/media:z
      - netbox-reports-files:/opt/netbox/netbox/reports:z
      - netbox-scripts-files:/opt/netbox/netbox/scripts:z
    ports:
      - "8000:8080"

  netbox-worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: netbox-custom:4.4
    depends_on:
      netbox:
        condition: service_healthy
    env_file: env/netbox.env
    user: 'unit:root'
    command:
      - /opt/netbox/venv/bin/python
      - /opt/netbox/netbox/manage.py
      - rqworker
    healthcheck:
      start_period: 20s
      timeout: 3s
      interval: 15s
      test: "ps -aux | grep -v grep | grep -q rqworker || exit 1"
    volumes:
      - ./configuration:/etc/netbox/config:z,ro
      - netbox-media-files:/opt/netbox/netbox/media:z
      - netbox-reports-files:/opt/netbox/netbox/reports:z
      - netbox-scripts-files:/opt/netbox/netbox/scripts:z

  netbox-housekeeping:
    build:
      context: .
      dockerfile: Dockerfile
    image: netbox-custom:4.4
    depends_on:
      netbox:
        condition: service_healthy
    env_file: env/netbox.env
    user: 'unit:root'
    command:
      - /opt/netbox/housekeeping.sh
    healthcheck:
      start_period: 20s
      timeout: 3s
      interval: 15s
      test: "ps -aux | grep -v grep | grep -q housekeeping || exit 1"
    volumes:
      - ./configuration:/etc/netbox/config:z,ro

  # PostgreSQL database
  postgres:
    image: postgres:16-alpine
    env_file: env/postgres.env
    volumes:
      - netbox-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U netbox"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis cache
  redis:
    image: redis:7-alpine
    command:
      - sh
      - -c
      - redis-server --appendonly yes --requirepass $$REDIS_PASSWORD
    env_file: env/redis.env
    volumes:
      - netbox-redis-data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $$REDIS_PASSWORD ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis cache
  redis-cache:
    image: redis:7-alpine
    command:
      - sh
      - -c
      - redis-server --requirepass $$REDIS_PASSWORD
    env_file: env/redis-cache.env
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $$REDIS_PASSWORD ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  netbox-media-files:
    driver: local
  netbox-postgres-data:
    driver: local
  netbox-redis-data:
    driver: local
  netbox-reports-files:
    driver: local
  netbox-scripts-files:
    driver: local
